@font-face {
    font-family: 'ridley-medium';
    src: url('/assets/Ridley Grotesk Medium.otf') format('truetype');
}

@font-face {
    font-family: 'varsity';
    src: url('/assets/VarsityTeam-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'ridley-light';
    src: url('/assets/Ridley Grotesk Light.otf ') format('truetype');
}

// cores
$grena: #7B001F;
$grena-hover: #560F20;
$verde: #008000;
$verde-hover: #004C33;
$branco: #FFFFFF;

// font
$font-text: 'ridley-medium';
$font-text-light: 'ridley-medium';
$font-title: 'varsity';

section {
    padding: 10%;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/65/33/20/6533206d21de26356583104ed98dc49f.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #7b001f4f;
    }

    .content {
        padding: 10px;
        padding-left: 0;
        margin-top: 1%;


        .title {
            position: relative;
            display: flex;
            flex-direction: column;
            align-content: center;

            p {
                color: $branco;
                font-weight: bold;
                font-size: 20px;
                font-family: $font-text;
                // margin-left: 22%;
                text-align: center;
                width: 20%;
                padding: 10px 0;
                border-bottom: 3px solid $branco;
                border-top: 3px solid $branco;
                margin-bottom: 1%;
                text-shadow: 2px 2px rgba(0, 0, 0, 0.451);
            }

            h1 {
                color: $branco;
                font-family: $font-title;
                font-size: 95px;
                line-height: 100px;
                text-shadow: 2px 2px rgba(0, 0, 0, 0.451);
            }

            #flu {
                font-size: 115px !important;
            }
        }

        .btns {
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: 100%;
            margin-top: 2%;
            z-index: 1;
            position: relative;


            button {
                font-size: 20px;
                cursor: pointer;
                font-family: $font-text;
                text-shadow: 2px 2px rgba(0, 0, 0, 0.451);

                &:first-child {
                    padding: 12px 55px;
                    background-color: $grena;
                    color: $branco;
                    border: none;

                    &:hover {
                        background-color: $grena-hover;
                        transition: 0.5s ease-in;
                    }
                }

                &:last-child {
                    padding: 12px 20px;
                    border: 2px solid $branco;
                    background-color: transparent;
                    color: $branco;

                    &:hover {
                        background-color: $verde-hover;
                        border-color: $verde-hover;
                        transition: 0.3s ease-out;

                    }
                }
            }
        }
    }

    // .title, .btns {
    //     padding: 0 15px;
    // }

    // .title {
    //     margin-top: 7%;
    //     z-index: 1;
    //     position: relative;


    //     p {
    //         color: $branco;
    //         font-weight: bold;
    //         font-size: 18px;
    //         font-family: $font-text;
    //         margin-left: 20%;
    //         text-align: center;
    //         width: 12%;
    //         padding: 5px;
    //         border-bottom: 3px solid $branco;
    //         border-top: 3px solid $branco;
    //     }

    //     h1 {
    //         color: $branco;
    //         font-family: $font-title;
    //         font-size: 100px;
    //     }
    // }

    // .btns {
    //     display: flex;
    //     flex-direction: row;
    //     gap: 10px;
    //     width: 100%;
    //     margin-top: 1%;
    //     z-index: 1;
    //     position: relative;

    //     button {
    //         font-size: 20px;
    //         cursor: pointer;
    //         font-family: $font-text;


    //         &:first-child {
    //             padding: 12px 45px;
    //             background-color: $grena;
    //             color: $branco;
    //             border: none;

    //             &:hover {
    //                 background-color: $grena-hover;
    //                 transition: 0.5s ease-in;
    //             }
    //         }

    //         &:last-child {
    //             padding: 12px 20px;
    //             border: 2px solid $branco;
    //             background-color: transparent;
    //             color: $branco;

    //             &:hover {
    //                 background-color: $verde-hover;
    //                 border-color: $verde-hover;
    //                 transition: 0.3s ease-out;

    //             }
    //         }
    //     }
    // }

    @media screen and (max-width: 767px) {

        .title {
            padding-top: 50%;

            p {
                font-size: 18px;
                width: 50%;
                margin-left: 90px;
                font-weight: bolder;
                border-width: 4px;
            }

            h1 {
                color: $branco;
                font-family: $font-title;
                font-size: 63px;
            }
        }

        .btns {

            padding-top: 10%;

            button {
                font-size: 16px;

                &:first-child {
                    padding: 8px 53px;

                }

                &:last-child {
                    padding: 8px 30px;
                }
            }
        }

    }

}