<section>
    <div class="mask"></div>

    <div class="content">
        <div class="title">
            <p>FAÇA A DIFERENÇA</p>
            <!-- <h1>FAÇA A DIFERENÇA</h1> -->
            <h1>Juntos</h1> 
            <h1>escrevemos</h1>
            <h1>a HISTÓRIA DO</h1>
            <h1 id="flu">FLUMINENSE</h1>
            <!-- <h1>COMEÇA AQUI</h1> -->
        </div>
        <div class="btns">
            <button class="regular">PLANOS</button>
            <button class="outline">CADASTRE-SE</button>
        </div>
    </div>
</section>