<app-header/>

<section>
    <div class="informations">
        <div class="info-itens">
            <img src="https://s3.amazonaws.com/assets-fluminense/uploads%2F1681138378442-52806051610_1da7567bb1_k.jpg" alt="">
        </div>
        <div class="info-itens">
            <h1>Business Name or Tagline</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut tincidunt orci, non pharetra quam. Nunc quis rhoncus nisl. Aenean ac metus libero. Vivamus faucibus iaculis tempor. In sed eros metus. Ut ut rhoncus justo, eget egestas diam. Phasellus sit amet faucibus enim. Nunc viverra velit at nisl tristique vulputate. Praesent lobortis posuere quam, ut tempus eros pretium eu.</p>
            <button>Saiba mais</button>
        </div>
    </div>

    <div class="middle">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <h1>INGRESSOS</h1>

    <div class="cards-wrapper">
        <div class="card">
            <div class="texts">
                <h3>Card</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut tincidunt orci, non pharetra quam. Nunc quis rhoncus nisl. Aenean ac metus libero. Vivamus faucibus iaculis tempor. In sed eros metus.</p>
            </div>
            <div class="card-footer">
                <button>Comprar</button>
            </div>
        </div>
    </div>

</section>

<app-footer/>