<app-header />




<section>
    
    <!-- <div class="mask"></div>

    <div class="register-form">
        <div class="register-img">
            <img src="https://s3.amazonaws.com/assets-fluminense/uploads%2F1641602736574-WhatsApp+Image+2021-12-21+at+17.22.52+%281%29.jpeg">
        </div>
        <form>
            <div class="form-group">
                <label for="nome">Nome completo</label>
                <input type="text" id="nome" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" id="senha" class="form-control">
            </div>
            <div class="form-group">
                <label for="dataNascimento">Data de Nascimento</label>
                <input type="date" id="dataNascimento" class="form-control">
            </div>
            <div class="form-group">
                <label for="celular">Celular</label>
                <input type="tel" id="celular" class="form-control">
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox">
                    Aceitar termos de uso e política do site
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Concluir Cadastro</button>
        </form>
    </div> -->

    <div class='wrapper'>
        <div class="mask"></div>
        <div class='login-form'>
            <div class="login-img">
                <img src="https://pbs.twimg.com/media/EbJgbaNWoAEBDQA.jpg">
            </div>
    
            <div class="login">
                <form>

                    <h2>Preencha os seus dados</h2>
                    <div class="form-group">
                        <input type="text" id="nome" class="form-control" placeholder="Nome completo">
                    </div>
                    <div class="form-group">
                        <input type="email" id="email" class="form-control" placeholder="torcedor@gmail.com">
                    </div>
                    <div class="form-group">
                        <input type="password" id="senha" class="form-control" placeholder="Senha">
                    </div>
                    <div class="form-group">
                        <input type="nasc" id="dataNascimento" class="form-control" placeholder="Nascimento">
                    </div>
                    <div class="form-group">
                        <input type="tel" id="celular" class="form-control" placeholder="(xx) 90000-0000">
                    </div>
                    <div class="form-group register">
                        <label>
                            <input type="checkbox">
                            <p>Aceitar termos de uso e política do site</p>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Concluir Cadastro</button>
                </form>
            </div>
        </div>
    </div>

</section>

<app-footer />