<app-header />

<div class='wrapper'>
    <div class="mask"></div>
    <div class='login-form'>
        <h1>LOGIN</h1>
        <p class="errorMessage" *ngIf="error">Usuário/senha inválidos, tente novamente</p>
        <div class='row'>
            <input type="email" [(ngModel)]="email" placeholder="Digite seu e-mail" name="email" required>
        </div>
        <div class='row'>
            <input type="password" [(ngModel)]="password" placeholder="Digite sua senha" name="password" required>
        </div>
        <div class='button'>
            <button id="login" type="button" (click)="authenticate()">Entrar</button>
        </div>

        <div class="register">
            <p>Ainda não é sócio? <a [href]="">Cadastre-se já!</a></p>
        </div>
    </div>
</div>

<app-footer />