
@font-face {
  font-family: 'ridley-medium';
  src: url('/assets/Ridley Grotesk Medium.otf') format('truetype');
}

@font-face {
  font-family: 'varsity';
  src: url('/assets/VarsityTeam-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'ridley-light';
  src: url('/assets/Ridley Grotesk Light.otf ') format('truetype');
}

// cores
$grena: #7B001F;
$grena-hover: #560F20;
$verde: #004C33;
$verde-hover: #008000;
$branco: #FFFFFF;

// font
$font-text: 'ridley-medium';
$font-text-light: 'ridley-medium';
$font-title: 'varsity';


.wrapper {
  padding: 14%;
  font-family: $font-text;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  height: 110vh;
  background-image: url(https://pbs.twimg.com/media/EoaT98sXUAEa_-x?format=jpg&name=large);
  background-repeat: no-repeat;
  background-size: cover;

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background-color: #7b001f4f;
  }

  .login-form {
    margin: auto;
    background: rgba(255, 255, 255, 0.175);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    box-shadow: 0px 11px 15px -3px rgba(0, 0, 0, 0.415);
    display: flex;
    flex-direction: row;

    .login-img {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .login {
      width: 50%;
      position: relative;
      padding: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 2.2rem;
        margin: 0;
        
        text-align: center;
        font-family: $font-title;
        letter-spacing: 1px;
        color: $branco;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.451);
        font-weight: bolder;

      }

      small {
        margin-bottom: 30px;
        color: $branco;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.451);
        text-align: center;
        margin-top: 10px;
      }

      button {
        padding: 0.6em 1.2em;
        font-family: $font-text;
        font-size: 20px;
        cursor: pointer;
        font-family: $font-text;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.451);
        cursor: pointer;
        width: 100%;
        border: 2px solid $branco;
        background-color: transparent;
        color: $branco;

        &:hover {
          background-color: $verde;
          border-color: $verde;
          transition: 0.3s ease-out;
        }
      }

      label {
        display: block;
      }

      .errorMessage {
        color: $branco;
        display: block;
        background: $grena-hover;
        font-weight: bold;
        font-size: 0.8em;
        text-transform: uppercase;
        margin-bottom: 15px;
        padding: 10px 15px;
        border-radius: 2px;
      }

    }

    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      align-items: center;
    }

    input {
      border: 1px solid #ccc;
      border-radius: 2px;
      padding: 10px;
      width: 100%;

      &:focus {
        outline: none;
        border: 2.2px solid $grena-hover;
      }
    }

    .register {
      margin: 15px 0 0 0;
      padding: 8px 0 0 0;
      text-align: center;
      color: $branco;
      border-top: 1px solid #d0d0d0;

      a {
        text-decoration: none;
        color: $grena-hover;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          transition: 0.5s ease-in-out;
        }
      }
    }

  }
}