<app-header/>

<section class="open-container">

    
    <div class="greetings">
        <div class="mask"></div>

        <h1>Fala, guerreiro!</h1>
        <p>Clique abaixo e saiba mais sobre os novos planos de Sócio Torcedor com mais benefícios e vantagens</p>
    </div>
    <div class="informations">
        <div class="info-itens" *ngFor="let info of information">
            <img src="{{info.img}}">
            <h1>{{info.title}}</h1>
            <p>{{info.text}}</p>
            <div class="btn"><button>Veja agora</button></div>
        </div>
    </div>
</section>

<app-footer/>